- title "Passengers for #{@shuttle.departure_time}"

- if @shuttle.num_people > 0
  %ul
    - @shuttle.users.each do |user|
      %li 
        ="#{user.first_name} #{user.last_name} #{user.email}"  
        = link_to "Remove", admin_shuttle_path(@shuttle) + "/delete_user/" + user.id.to_s, :remote => true, :method => :post, :confirm => "Are you sure you want to remove this user from the shuttle?"

- else
  There are no passengers registered for this shuttle.
