- title "Choose a Shuttle"
%p= markdown(SiteContent.get("shuttle_form_text"))

- if current_user.shuttle_id
  %p
    You have selected the 
    %strong= current_user.shuttle.long_date
    shuttle to
    %strong= current_user.shuttle.destination
    \. You can change your choice below.

.flashes
  -if current_user.changed?
    .error.alert-message
      - current_user.errors.full_messages.each do |err|
        %p= err

= simple_form_for(current_user, :url => select_shuttles_path, :method => :post) do |f|
  = f.input :first_name, :required => true
  = f.input :last_name, :required => true
  = f.input :phone_number, :as => :string, :required => true
  = f.input :division, :required => true

  %ul.shuttles
    - prev_day = nil
    - @shuttles.each do |shuttle|
      - date = shuttle.departure_time
      - if prev_day != date.day
        - prev_day = date.day
        %li.new-day= shuttle.day_of_week
      %li
        - if shuttle.is_full?
          = f.radio_button :shuttle_id, shuttle.id, :disabled => true
        - else
          = f.radio_button :shuttle_id, shuttle.id
        %label{:for => "user_shuttle_id_#{shuttle.id}"}
          = "#{shuttle.short_time} to #{shuttle.destination}"
          - if shuttle.is_full?
            (FULL)
          - if (current_user.shuttle_id == shuttle.id)
            (SELECTED)
  = submit_tag "Select Shuttle"
